In [29]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings("ignore")

In [30]:
data = pd.read_csv('./data/insurance.csv')

In [31]:
# Drop duplicate rows
data.drop_duplicates(inplace=True)

In [32]:
data

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1337 rows x 7 columns]

In [37]:
X = data.drop('expenses', axis=1)

In [38]:
Y = data[['expenses']]

In [39]:


data['sex']=data['sex'].map({'male':0,'female':1})
data['smoker']=data['smoker'].map({'yes':1,'no':0})
data['region']=data['region'].map({'northwest':0, 'northeast':1,'southeast':2,'southwest':3})

# Drop duplicate rows
data.drop_duplicates(inplace=True)

X = data.drop('expenses', axis=1)

Y = data[['expenses']]


from sklearn.linear_model import LinearRegression, Lasso
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

l1=[]
l2=[]
l3=[]
cvs=0

for i in range(40,50):
 xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=i)
 
 lrmodel=LinearRegression()
 lrmodel.fit(xtrain,ytrain)
 l1.append(lrmodel.score(xtrain,ytrain))
 l2.append(lrmodel.score(xtest,ytest))
 cvs=(cross_val_score(lrmodel,X,Y,cv=5,)).mean()
 l3.append(cvs)
 df1=pd.DataFrame({'train acc':l1,'test acc':l2,'cvs':l3})

In [40]:
df1

   train acc  test acc       cvs
0   0.741668  0.777966  0.746985
1   0.756284  0.706413  0.746985
2   0.729476  0.806085  0.746985
3   0.754334  0.732050  0.746985
4   0.742739  0.780107  0.746985
5   0.753325  0.731021  0.746985
6   0.741179  0.776354  0.746985
7   0.731612  0.796782  0.746985
8   0.751849  0.741595  0.746985
9   0.756252  0.722520  0.746985

In [61]:
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=42)

print('LinearRegression')
lrmodel=LinearRegression()
lrmodel.fit(xtrain,ytrain)
print(lrmodel.score(xtrain,ytrain))
print(lrmodel.score(xtest,ytest))
print(cross_val_score(lrmodel,X,Y,cv=5,).mean())

LinearRegression
0.7292436163944094
0.8045364806672441
0.7468090248708774

In [62]:
from sklearn.metrics import r2_score
print('SVR')

svrmodel=SVR()
svrmodel.fit(xtrain,ytrain)
ypredtrain1=svrmodel.predict(xtrain)
ypredtest1=svrmodel.predict(xtest)
print(r2_score(ytrain,ypredtrain1))
print(r2_score(ytest,ypredtest1))
print(cross_val_score(svrmodel,X,Y,cv=5,).mean())

SVR
-0.10148428623615424
-0.1344612178653537
-0.10364508184009398

In [63]:

print("RandomForestRegressor:")
rfmodel=RandomForestRegressor(random_state=42)
rfmodel.fit(xtrain,ytrain)
ypredtrain2=rfmodel.predict(xtrain)
ypredtest2=rfmodel.predict(xtest)
print(r2_score(ytrain,ypredtrain2))
print(r2_score(ytest,ypredtest2))
print(cross_val_score(rfmodel,X,Y,cv=5,).mean())


print("Hyperparametertuning")
from sklearn.model_selection import GridSearchCV
estimator=RandomForestRegressor(random_state=42)
param_grid={'n_estimators':[10,40,50,98,100,120,150]}
grid=GridSearchCV(estimator,param_grid,scoring="r2",cv=5)
grid.fit(xtrain,ytrain)
print(grid.best_params_)
rfmodel=RandomForestRegressor(random_state=42,n_estimators=120)
rfmodel.fit(xtrain,ytrain)
ypredtrain2=rfmodel.predict(xtrain)
ypredtest2=rfmodel.predict(xtest)
print(r2_score(ytrain,ypredtrain2))
print(r2_score(ytest,ypredtest2))
print(cross_val_score(rfmodel,X,Y,cv=5,).mean())

RandomForestRegressor:
0.9722705532502356
0.8699269540135578
0.825813907913005
Hyperparametertuning
{'n_estimators': 98}
0.9732222922147598
0.8697662429986371
0.8261448198439979

In [66]:
print("GradientBoostingRegressor")
gbmodel=GradientBoostingRegressor()
gbmodel.fit(xtrain,ytrain)
ypredtrain3=gbmodel.predict(xtrain)
ypredtest3=gbmodel.predict(xtest)
print(r2_score(ytrain,ypredtrain3))
print(r2_score(ytest,ypredtest3))
print(cross_val_score(gbmodel,X,Y,cv=5,).mean())

print("Hyperparametertuning")
from sklearn.model_selection import GridSearchCV
estimator=GradientBoostingRegressor()
param_grid={'n_estimators':[10,15,19,20,21,50],'learning_rate':[0.1,0.19,0.2,0.21,0.8,1]}
grid=GridSearchCV(estimator,param_grid,scoring="r2",cv=5)
grid.fit(xtrain,ytrain)
print(grid.best_params_)
gbmodel=GradientBoostingRegressor(n_estimators=19,learning_rate=0.2)
gbmodel.fit(xtrain,ytrain)
ypredtrain3=gbmodel.predict(xtrain)
ypredtest3=gbmodel.predict(xtest)
print(r2_score(ytrain,ypredtrain3))
print(r2_score(ytest,ypredtest3))
print(cross_val_score(gbmodel,X,Y,cv=5,).mean())

GradientBoostingRegressor
0.8875381191834397
0.897153048847656
0.8554924845448395
Hyperparametertuning
{'learning_rate': 0.2, 'n_estimators': 19}
0.8655259197723539
0.9003853329493701
0.8603466916207971

In [51]:
print("XGBRegressor:")
xgmodel=XGBRegressor()
xgmodel.fit(xtrain,ytrain)
ypredtrain4=xgmodel.predict(xtrain)
ypredtest4=xgmodel.predict(xtest)
print(r2_score(ytrain,ypredtrain4))
print(r2_score(ytest,ypredtest4))
print(cross_val_score(xgmodel,X,Y,cv=5,).mean())

print("Hyperparametertuning:")
from sklearn.model_selection import GridSearchCV
estimator=XGBRegressor()
param_grid={'n_estimators':[10,15,20,40,50],'max_depth':[3,4,5],'gamma':[0,0.15,0.3,0.5,1]}
grid=GridSearchCV(estimator,param_grid,scoring="r2",cv=5)
grid.fit(xtrain,ytrain)
print(grid.best_params_)
xgmodel=XGBRegressor(n_estimators=15,max_depth=3,gamma=0)
xgmodel.fit(xtrain,ytrain)
ypredtrain4=xgmodel.predict(xtrain)
ypredtest4=xgmodel.predict(xtest)
print(r2_score(ytrain,ypredtrain4))
print(r2_score(ytest,ypredtest4))
print(cross_val_score(xgmodel,X,Y,cv=5,).mean())

XGBRegressor:
0.9952241359514976
0.8671155612763997
0.810564498730004
Hyperparametertuning:
{'gamma': 0, 'max_depth': 3, 'n_estimators': 10}
0.8691913343913765
0.9026255077817473
0.8604169368110345

In [ ]:
'''Comapring All Models


LinearRegression

0.729 #Train Accuracy

0.806 #Test Accuracy

0.747 #CV Score



SupportVectorMachine

-0.105

-0.134

0.103



RandomForest

0.974

0.882

0.836



GradientBoost

0.868

0.901

0.860



XGBoost

0.870

0.904

0.860

From the above table we can observe that XGBoost is the best model.Now we need to identify the important features for predicting of charges.'''

In [52]:
feats=pd.DataFrame(data=grid.best_estimator_.feature_importances_,index=X.columns,columns=['Importance'])
feats

          Importance
age         0.039924
sex         0.000000
bmi         0.126051
children    0.012206
smoker      0.817493
region      0.004325

In [53]:
important_features=feats[feats['Importance']>0.01]
important_features

          Importance
age         0.039924
bmi         0.126051
children    0.012206
smoker      0.817493

In [57]:
data

      age   bmi  children  smoker  expenses
0      19  27.9         0       1  16884.92
1      18  33.8         1       0   1725.55
2      28  33.0         3       0   4449.46
3      33  22.7         0       0  21984.47
4      32  28.9         0       0   3866.86
...   ...   ...       ...     ...       ...
1333   50  31.0         3       0  10600.55
1334   18  31.9         0       0   2205.98
1335   18  36.9         0       0   1629.83
1336   21  25.8         0       0   2007.95
1337   61  29.1         0       1  29141.36

[1337 rows x 5 columns]

In [58]:
# data.drop(data[['sex','region']],axis=1,inplace=True)
Xf=data.drop(data[['expenses']],axis=1)
X=data.drop(data[['expenses']],axis=1)
xtrain,xtest,ytrain,ytest=train_test_split(Xf,Y,test_size=0.2,random_state=42)
finalmodel=XGBRegressor(n_estimators=15,max_depth=3,gamma=0)
finalmodel.fit(xtrain,ytrain)
ypredtrain4=finalmodel.predict(xtrain)
ypredtest4=finalmodel.predict(xtest)
print(r2_score(ytrain,ypredtrain4))
print(r2_score(ytest,ypredtest4))
print(cross_val_score(finalmodel,X,Y,cv=5,).mean())

0.868439252285498
0.9014752891228951
0.8598064366721332

In [59]:
from pickle import dump
dump(finalmodel,open('insurancemodelf.pkl','wb'))

In [60]:
new_data=pd.DataFrame({'age':19,'sex':'male','bmi':27.9,'children':0,'smoker':'yes','region':'northeast'},index=[0])
new_data['smoker']=new_data['smoker'].map({'yes':1,'no':0})
new_data=new_data.drop(new_data[['sex','region']],axis=1)
finalmodel.predict(new_data)

array([18295.469], dtype=float32)